<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}style.css">
</head>

  <body class="text-center">
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <nav class="navbar navbar-expand-lg navbar-dark mb-auto">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">
                <img src="{{ MEDIA_URL }}car.svg" width="60" height="60" class="d-inline-block align-center" alt="" /> 
                Best Cars</a>
                <ul class="navbar-nav mr-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </li>                    
                </ul>
        </nav>

        <main role="main">
            <h1>Best Cars dealership</h1>
            <p class="lead">Welcome to Best Cars dealership, home to the best cars in North America. 
                <br />We sell domestic and imported cars at reasonable prices.</p>
            <a href="{% url 'djangoapp:contact' %}" class="btn btn-lg btn-secondary mt-3">Contact Us</a>
        </main>

        <footer class="container-fluid mt-auto">
             <div class="row">
                    <div class="col-3">
                        <a class="text-white" href="{% url 'djangoapp:about' %}">About Us</a>
                    </div>
                    <div class="col-3">
                        <a class="text-white" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </div>
                    <div class="col-6">
                        <em>Made by <a class="text-light" href="https://plastinin.net/sergey/">Sergey Plastinin</a></em>
                    </div>
            </div>
        </footer>
      </div>      
    </body>

</html>