{% extends 'djangoapp/page-template.html' %}
{% block head %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>{{ dealer.full_name }}</h1>
    <p>City: {{ dealer.city }}</p>
    <p>Address: {{ dealer.address }}</p>
    <div id="openMap"></div>
    {% if review_list %}
    <h2 class="mt-3">Reviews</h2>
    <div class="card-columns">
        {% for review in review_list %}
        <div class="card text-white bg-dark border-light my-3 text-left">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if review.sentiment == "positive" %}
                    <img src="{{MEDIA_URL}}/emoji/positive.png" class="card-img px-3 py-3" alt="">
                    {% elif review.sentiment == "negative" %}
                    <img src="{{MEDIA_URL}}/emoji/negative.png" class="card-img px-3 py-3" alt="">
                    {% else %}
                    <img src="{{MEDIA_URL}}/emoji/neutral.png" class="card-img px-3 py-3" alt="">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        {% if review.purchased == true %}
                        <h5 class="card-title">{{review.make}} {{review.model}}</h5>
                        <h5 class="card-title">{{review.year}}</h5>
                        {% else %}
                        <h5 class="card-title">Not purchased</h5>
                        {% endif %}
                        <p class="card-text">{{review.review}}</p>
                        <p class="card-text"><small class="text-muted">IBM Watson Analysis: {{review.sentiment}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1>Hello! We do not have any review at moment</h1>
    <p class="lead">But your one can be the first!</p>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'djangoapp:addreview' dealer.id %}" class="btn btn-primary my-3">Add Review</a>
    {% else %}
    <p class="lead">Please, login.</p>
    {% endif %}    
</div>
{% endblock %}
{% block afterbody %}
<script>
    // Where you want to render the map.
    var element = document.getElementById('openMap');
    // Height has to be set. You can do this in CSS too.
    element.style = 'height:200px;';
    // Create Leaflet map on map element.
    var map = L.map(element);
    // Add OSM tile leayer to the Leaflet map.
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    // Target's GPS coordinates.
    var target = L.latLng('{{ dealer.lat }}', '{{ dealer.long }}');
    // Set map's center to target with zoom 14.
    map.setView(target, 14);
    // Place a marker on the same location.
    L.marker(target).addTo(map);
</script>
{% endblock %}