{% extends 'djangoapp/page-template.html' %}
{% block head %}
<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script
    src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
{% endblock %}
{% block content %}
{% if review_list %}
<div class="container-fluid">
    {% for review in review_list %}
<div class="card text-dark bg-light mb-3 text-left">
  <div class="card-header">{{review.name}}</div>
  <div class="card-body">
    <h5 class="card-title">{{review.name}}</h5>
    <p class="card-text">{{review.review}}</p>
  </div>
</div>
    {% endfor %}
</div>
{% else %}
<h1>Hello! We do not have any review at moment</h1>
{% endif %}
{% endblock %}