{% extends 'djangoapp/page-template.html' %}
{% block head %}
<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script
    src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
{% if review_list %}
    {% for review in review_list %}
    <div class="card text-dark bg-light my-3 text-left">
        <div class="card-header">{{review.name}}</div>
        <div class="card-body">
            <h5 class="card-title">{{review.name}}</h5>
            <p class="card-text">{{review.review}}</p>
            <p class="card-text">IBM Watson Analysis: {{review.sentiment}}</p>
        </div>
    </div>
    {% endfor %}
{% else %}
<h1>Hello! We do not have any review at moment</h1>
<p class="lead">But your one can be the first!</p>
{% if user.is_authenticated %}
<a href="{% url 'djangoapp:addreview' dealer_id %}" class="btn btn-primary my-3">Add Review</a>
{% else %}
<p class="lead">Please, login.</p>
{% endif %}
{% endif %}
</div>
{% endblock %}